[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/forge-test-my-dep"]
	path = lib/forge-test-my-dep
	url = https://github.com/mds1/forge-test-my-dep
